<div class="message-container"></div>

<div class="content-container {{#isNotCapable.toUseArrays}}no-cartodb{{/isNotCapable.toUseArrays}}">
  {{^isSnowEmergency}}
    <div class="narrative">
      <h3>There is no snow emergency at the moment</h3>
      <p>To plan ahead, set a snow emergency day:
        <select value="{{ chooseDay }}">
          <option value="">&lt;pick a day&gt;</option>
          <option value="1">Day 1</option>
          <option value="2">Day 2</option>
          <option value="3">Day 3</option>
        </select>
      </p>
    </div>
  {{/isSnowEmergency}}

  {{#isSnowEmergency}}
    <div class="narrative">
      <h3>{{ snowEmergencyTitle }}</h3>

      <div class="snow-emergency-day-status">
        <p>{{ snowEmergencyText }}  The current snow emergency began on {{ lastSnowEmergencyDay.format('MMMM Do') }} at 9 p.m.</p>
      </div>
    </div>

    <form proxy-submit="formSubmit" class="location-search-form">
      <p>Search for an address or use your location to see parking restrictions near you.</p>

      <input type="text" class="address-input" value="{{ address }}" placeholder="Enter address, ex. 900 6th Ave SE, Minneapolis, MN 55414" />

      <button type="submit" class="address-button" title="Search address" on-tap="addressSearch">Search</button>

      {{#canGeoLocate}}
        <button type="submit" class="geolocation-button" title="Use the location of your device" on-tap="geolocateSearch"></button>
      {{/canGeoLocate}}
    </form>

    <div class="narrative focus-found">
      {{#(isLoading === true)}}
        {{>loading}}
      {{/())}}

      {{#messages}}
        <p class="messages">{{ messages }}</p>
      {{/messages}}

      {{#(nearParking !== undefined)}}
        {{#nearParking}}
          <p>Looks like you shouldn't park here.  Check the map to be sure.</p>
        {{/nearParking}}

        {{^nearParking}}
          <p>Looks like you are clear to park here.  Check the map to be sure.</p>
        {{/nearParking}}

        <div class="note">And follow any other posted parking signs.</div>
      {{/()}}
    </div>

    <div id="snow-emergency-map"></div>
  {{/isSnowEmergency}}

</div>

<div class="footnote-container">
  <div class="footnote">
    <p>Snow plow route data provided by the City of Minneapolis. Data may be subject to changes and is also available from the city's <a href="http://www.ci.minneapolis.mn.us/snow/snowstreetlookup" target="_blank">Street Lookup service</a>.  MinnPost is not responsible for any traffic violations that may occur as a result of using this application.</p>

    <p>Some map data &copy; OpenStreetMap contributors; licensed under the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License</a>.  Some map design &copy; MapBox; licensed according to the <a href="http://mapbox.com/tos/" target="_blank">MapBox Terms of Service</a>.  Location geocoding provided by <a href="http://www.mapquest.com/" target="_blank">Mapquest</a> and is not guaranteed to be accurate.  Some mapping services provided by <a href="http://cartodb.com/attributions" target="_blank">CartoDB</a>.  <a href="http://thenounproject.com/term/snowed-in/30065/">Snowed In</a> designed by Claire Jones from the Noun Project.  Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-snow-emergency" target="_blank">Github</a>.</p>
  </div>
</div>
